.github/
.idea/
.history/
.nyc_output/
.vscode/
coverage/
dist/**/*.spec.js
dist/**/*.test.js
src/
test/
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.prettierignore
.prettierrc
jest.config.js
tsconfig.compile.json
tsconfig.json
tslint.json